
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fab-bottom-rigth{
    position: fixed !important;
    bottom: 15px;
    right: 15px;
}
